
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 65px;
    margin-top: 50px !important;
}

.btnEdit{
    background-color: #1a71b9;
    color: white;
}

.title{
  text-align: center;
  color: #008080;
}

.icone{
  width: 18px;
  margin-right: 5px;
  }
