<app-navbar></app-navbar>
<div class="title">
  <h4>Lista de Contatos</h4>
 </div>
 
<div class="card mt-2" *ngFor="let contato of contatos | async">
<div class="card-body">
  <h5 class="card-title">Nome: {{contato.nome}}</h5>
  <p>Telefone: {{contato.telefone}}</p>
  <p>Cidade: {{contato.cidade}}</p>
  
</div>
<div class="card-footer">
  <button type="button" class="btn btnEdit" (click)="edit(contato, contato.key)"> <img class="icone" src="../../assets/edit.svg"> Editar </button>
  <button type="button" class="btn btn-danger ml-2" (click)="delete(contato.key)"> <img class="icone" src="../../assets/del.svg"> Deletar </button>
  <button type="button" class="btn btn-info ml-2" (click)="details(contato, contato.key)"> <img class="icone" src="../../assets/detail.svg"> Detalhes </button>

</div>
</div>